.header {
  padding: 10px 0px;
  background: #fff;
}
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search input {
  width: 100%;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.header_right .btn {
  background: #6fa8dc;
  color: #fff;
}
