body {
  background: #fff !important;
}
.sticky + .hero_section {
  padding-top: 135px;
}
.hero_section .row img {
  height: 300px !important;
  width: 100%;
}
.category {
  width: 70%;
  margin: auto;
}
.category h2 {
  font-size: 90%;
  text-align: center !important;
}
hr {
  width: 90%;
  margin: 5px auto;
  border: 2px solid #2b2b2b;
}

.category a {
  text-decoration: none;
}

@media screen and (max-width: 560px) {
  .hero_section .row img {
    display: none;
  }
  .hero_section .row {
    display: flex;
    flex-direction: row !important;
  }
  .hero_section .row h3 {
    font-size: 16px;
  }
}

/* Slider */
.carousel,
.item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
  /* background: #000; */
}

.carousel-caption {
  padding-bottom: 80px;
}

h2 {
  font-size: 60px;
}
p {
  padding: 10px;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
  width: 100%;
  height: 100%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 0.6;
}

/**
 * Button
 */
.btn-transparent {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-transparent:hover {
  background-color: #fff;
}

.btn-rounded {
  border-radius: 70px;
}

.btn-large {
  padding: 11px 45px;
  font-size: 18px;
}

/**
 * Change animation duration
 */
.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
#carousel .carousel-item.boat {
  background-image: url("../img/slider-1.jpg");
}

#carousel .carousel-item.sea {
  background-image: url("../img/slider-2.jpg");
}

#carousel .carousel-item.river {
  background-image: url("../img/slider-3.jpg");
}

#carousel .carousel-item {
  height: 100vh;
  width: 100%;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel .carousel-inner .carousel-item {
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

#carousel .carousel-item .caption {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  color: #000;
  animation-duration: 1s;
  animation-delay: 2s;
  border-radius: 5px;
}

#carousel .caption h2 {
  animation-duration: 1s;
  animation-delay: 1s;
}

#carousel .caption p {
  animation-duration: 1s;
  animation-delay: 1s;
}

#carousel .caption a {
  animation-duration: 1s;
  animation-delay: 1s;
}

/* Button */
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #000;
  border: none;
  border: 3px solid #6fa8dc;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  border-radius: 8px;
  /* background-color: #6fa8dc; */
}

.delicious-btn.active,
.delicious-btn:hover,
.delicious-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #6fa8dc;
  border-color: #6fa8dc;
}

/* Sticky Header */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.sticky1 {
  position: fixed;
  top: 200px;
  width: 100%;
  z-index: 1;
}

/**************************************************
** CARDS STYLING 
***************************************************/
.shops .shop-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shop-cards > * {
  margin: 0 1rem 2rem;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 200px;
  border-radius: 4px; /* Styling */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.64),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.56s ease-in-out;
}
/* Shows an outer shadow */
.card:hover {
  cursor: pointer;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.64),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.card__thumbnail {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card__thumbnail > img {
  height: 100%;
}

.card__title {
  position: absolute;
  bottom: 20px;
  width: 90%;
  left: 5%;
  text-align: center;
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  line-height: 1;
  font-weight: 600;
  border-radius: 7px;
}

.card-1 {
  background-color: #ff9900;
}
.card-2 {
  background-color: #cf2a27;
}
.card-3 {
  background-color: #b6d7a8;
}
.card-4 {
  background-color: #9fc5f8;
}
@media screen and (max-width: 1200px) {
  .card {
    width: 400px;
  }
}
@media screen and (max-width: 990px) {
  .card {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 800px;
  }
}
