.my_account_area .my_account_edit_form form {
  margin: 0 auto;
}
.my_account_area h2 {
  color: #6fa8dc;
}

.my_account_area .my_account_edit_form form button {
  background: #6fa8dc;
  color: #fff;
  padding: 7px 60px;
}
.my_account_area .my_account_edit_form form hr {
  width: 80%;
  margin: 7 auto;
  border: 1px solid #dddddd;
}

a.activeclass {
  background-color: #6fa8dc !important;
  color: #fff;
}
.btn-primary2 {
  background-color: #6fa8dc;
  color: #fff;
}
