.my_messages_area .my_messages_table table {
  box-shadow: 0 0 10px rgba(207, 207, 207, 0.87);
}
.my_messages_area h2 {
  color: #6fa8dc;
  margin-top: 20px;
}

.my_messages_area .my_messages_table div img,
.my_messages_area .my_messages_table div span {
  outline: 0;
  border: none;
  border-radius: 20px !important;
}
.my_messages_area .my_messages_table button img .item-img {
  width: 60px;
  height: 50px;
}
.my_messages_area .my_messages_table button span {
  border-radius: 10px;
  padding: 5px 7px;
  margin-top: 10px;
}

a.activeclass {
  background-color: #12cff0 !important;
  color: #fff;
}
table.fixed {
  table-layout: fixed;
}
table.fixed td {
  overflow: hidden;
}
.btn-primary2 {
  background-color: #6fa8dc;
  color: #fff;
}
