.my_messages_area .my_messages_nav_form form,
.my_messages_area .my_messages_table table {
  width: 80%;
  margin: 0 auto;
  /* box-shadow: 4px 4px 5px 0px rgba(207, 207, 207, 0.87); */
  box-shadow: 0 0 10px rgba(207, 207, 207, 0.87);
}
.my_messages_area h2 {
  color: #6fa8dc;
  margin-top: 20px;
}
.my_messages_area .my_messages_nav_form form button {
  background: #6fa8dc;
  color: #fff;
  padding: 7px 60px;
}
.my_messages_area .my_messages_table button {
  outline: 0;
  border: none;
}
.my_messages_area .my_messages_table button img .item-img {
  width: 60px;
  height: 50px;
}
.my_messages_area .my_messages_table button span {
  border-radius: 10px;
  padding: 5px 7px;
  margin-top: 10px;
}
.my_messages_area .my_messages_table .table .shop-name p {
  border: 1px solid #9b9393;
  width: 80%;
}
.my_messages_area hr {
  width: 80%;
  margin: 7 auto;
  border: 1px solid #dddddd;
}

.my_messages_area .my_messages_nav_form .my_account {
  border: 1px solid #9b9393;
  width: 80%;
  margin-bottom: 30px;
}
.my_messages_area .my_messages_nav_form .my_orders {
  border: 1px solid #9b9393;
  width: 80%;
  margin-bottom: 30px;
}
.my_messages_area .my_messages_nav_form .my_messages {
  border: 1px solid #9b9393;
  width: 80%;
  margin-bottom: 30px;
}

.my_messages_area .my_messages_nav_form .my_messages.active {
  background: #6fa8dc;
  width: 80%;
}

.my_messages_area .my_messages_nav_form .my_account a {
  color: #000;
  text-decoration: none;
  padding: 10px 10px 10px 0px;
}
.my_messages_area .my_messages_nav_form .my_orders a {
  color: #000;
  text-decoration: none;
  padding: 10px 10px 10px 0px;
}
.my_messages_area .my_messages_nav_form .my_messages a {
  color: #000;
  text-decoration: none;
  padding: 10px 10px 10px 0px;
}

@media screen and (max-width: 560px) {
  .my_messages_area .my_messages_nav_form form,
  .my_messages_area .my_messages_table .table {
    width: 100%;
    box-shadow: 0 0 10px rgba(207, 207, 207, 0.87);
  }
}
