/* .product-body {
  float: left;
  width: 100%;
  background: lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-body-main {
  float: left;
  padding-bottom: 20px;
}
.product-body .product-body-ul {
  margin: 0px -30px;
}

.product-img {
  float: left;
  width: 40%;
  padding: 0px 30px;
}
.product-img figure > img {
  padding-bottom: 10px;
}
figcaption {
  float: left;
  width: 66.5%;
}
figcaption ul {
  margin: 0px -15px;
}
figcaption ul li img {
  width: 100%;
}
figcaption ul li {
  list-style: none;

}

.product-discription {
  float: left;
  width: 60%;
  padding: 0px 30px;
}
.product-discription .data {
  background: #ffff;
  float: left;
  width: 100%;
  padding: 15px 0px 15px 20px;
}
.product-discription .data h2 {
  padding-bottom: 10px;
}
.product-discription .data p {
  padding-bottom: 3px;
}

.product-discription .data p select {
  padding: 5px 8px;
  margin-left: 5px;
}
.product-discription .data a {
  background: #6fa8dc;
  color: #ffff;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}

.product-discription .data .quantity button {
  border: none;
  background: lightgray;
  padding: 11px 16px;
}
.product-discription .data .quantity span {
  border: none;
  background: #ececec;
  padding: 10px 16px;
}

*/
.product-body .title {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.product-body del {
  font-size: 30px;
  margin-bottom: 8px;
}
figcaption img {
  width: 80px;
  height: 80px;
}
.product-detail {
  width: 100%;
}

.product-detail ul li {
  background: white;
  padding: 10px 15px;
  border: none;
  border: 1px solid #ececec;
}
.product-detail ul li a {
  text-decoration: none;
}

.product-detail ul li.active {
  border: 2px solid black;
}

.tab-content {
  background: white;
  border-radius: 2px;
}
.tab-content p {
  padding: 10px 10px;
}
.product-detail .row {
  margin-left: 0px !important;
}

@media screen and (max-width: 460px) {
  .product-detail ul li {
    width: 100%;
  }
}
